#art_ctn {
    padding: 1rem;
}

.art_box {
    padding: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    border-radius: 10px;
}

article, article div {
    margin-top: 1rem;
}

article div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

article div p {
    margin-right: 1rem;
}

img {
    width: 30%;
}

p {
    text-align: justify;
}

.box {
    opacity: 0;
    z-index: 50;
    transform: scale(0, 0);
}

.box.open {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.box .inputBox textarea {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 5rem;
    margin-bottom: 1rem;
}

.box .inputBox textarea~label {
    top: -30px;
    left: 0;
    font-size: 12px;
}

.box .inputBox textarea:focus~label,
.box .inputBox textarea:valid~label {
    color: #03a9f4;
}

.box .inputBox #picture~label {
    color: #fff;
}

.art_btn {
    flex: 0;
    padding: 6px 12px;
}

.favorite {
    background-color: #000;
}

.favorite i {
    color: #feee7d;
}