p {
    display: flex;
    justify-content: flex-end;
}

a {
    color: #fff;
    text-decoration: none;
}

.box .inputBox textarea {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 5rem;
    margin-bottom: 1rem;
}

.box .inputBox textarea~label {
    top: -30px;
    left: 0;
    font-size: 12px;
}

.box .inputBox #picture~label {
    color: #fff;
}