p {
    display: flex;
    justify-content: flex-end;
}

a {
    color: #fff;
    text-decoration: none;
}

#togglePassword {
    position: absolute;
    top: 20%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
